@model IEnumerable<Ferreteria.Models.Venta>

@{ 
    ViewBag.Title = "Ventas";
}

<h1>Ventas</h1>
<p>
    @Html.ActionLink("Crear nueva venta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPedido)
        </th>
        <th>
            Producto
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendedor)
        </th>
        <th>
            Cliente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vendedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comprador.nombreCompleto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idPedido }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idPedido })
        </td>
    </tr>
}

</table>
